
.body-l{
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    margin: auto;
}
.body-d{
    background-color: rgb(57, 55, 55);
    width: 100%;
    text-align: center;
    margin: auto;
}
.header-l{
    height: 100px;
    background-color: #CFFFCB;
    margin-top: -1%;
}
.header-d{
    height: 100px;
    background-color: #415e5b;
    margin-top: -1%;
}
.logo{
    height: 100px;
    float: left;
}
.switch{
    float: right;
    background-color:#C7E3B6;
    padding: 15px;
    margin-top: 2%;
}
.switch:hover{
    float: right;
    background-color:#a5c591;
    padding: 15px;
    margin-top: 2%;
}
.main-l{
    width: 80%;
    height: max-content;
    background-color: #C7E3B6;
    margin-left: 10%;
    margin-right: 10%;
    margin: 30px;
    display: inline-block;
}
.main-d{
    width: 80%;
    height: max-content;
    background-color: #708961;
    margin-left: 10%;
    margin-right: 10%;
    margin: 30px;
    display: inline-block;
}
.mainh1{
    margin-left: 65%;
    width: 25%;
    margin-top: -35%;
    margin-bottom: 30%;

}
h1{
    margin-top: 2%;
    font: 600;
}
.mainp-l{
    margin-left: 57.5%;
    width: 30%;
    margin-top: -27.5%;
    margin-bottom: 7%;
    margin-right: 5%;
    padding: 5%;
    background-color: #CFFFCB;

}
.mainp-d{
    margin-left: 57.5%;
    width: 30%;
    margin-top: -27.5%;
    margin-bottom: 7%;
    margin-right: 5%;
    padding: 5%;
    background-color: #415e5b;

}
.hit{
    width: 50%;
    height: auto;
    margin-right: 40%;
    margin-top: 30px;
    margin-bottom: 13%;
}
.section{
    display: flex;
    flex-wrap: wrap;
}
.section-q-l{
    height:40%;
    background-color: #CFFFCB;
    margin: 5%;
    padding-bottom: 3%;
}
.section-q-d{
    height:40%;
    background-color: #708961;
    margin: 5%;
    padding-bottom: 3%;

}
.left-section{
    margin-left: 10%;
    width: 25%;
    margin-right: 10%;
    display: inline-block;
}
.right-section{
    width: 25%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;

}
.section-image{
    width: 80%;
    height: 40%;
    margin-top: 5%;
}
.footer-l{
    background-color: #CFFFCB;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}
.footer-d{
    background-color: #415e5b;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}
.foot-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.Company{
    width: 30%;
    margin-left: 10%;
}
.Of-us{
    width: 30%;
    margin-right: 10%;
}
a{
    text-decoration: none;
    color: black;
    margin-bottom: 50px;
}
